<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarterbadgers">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmarterBadgers">
        <activity
            android:name=".EditAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="true" />
        <activity
            android:name=".CreateAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".PlannerActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="true" />
        <activity
            android:name=".TimerActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".PlannerFragment$AlarmBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="action_alarm_broadcast_receiver_badgers"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAuO8edi3V3n93ZxeIdGJfFp80oRPIM39g" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>